{{META
title="The TeeReal Homepage"
description="The place where realtors bid on the right to represent you."
keywords="real estate, realtor, homeowner, home, residential, neighborhood"
}}

{{INCLUDESCRIPT
name="main"
location="js/main.js"
}}

<div class="page-content-container">
  <div class="page-content">
    <div class="slide-container">
      <div class="slide-panel left-panel">
        <div class="slide-panel-content-container clear-fix">
          <h1 class="center">Sell More Houses</h1>
          {{#MULTICOLUMN num=3}}
          {{#COLUMN i=1}}
          <h2 class="center">Describe</h2>
          <p class="center">Describe your qualifications and experience to increase your chances of receiving a listing.</p>
          {{/COLUMN}}
          {{#COLUMN i=2}}
          <h2 class="center">Bid</h2>
          <p class="center">Bid the services that you offer and the percentage commission that you are willing to sell the house for.</p>
          {{/COLUMN}}
          {{#COLUMN i=3}}
          <h2 class="center">Get Listings</h2>
          <p class="center">The winning realtors will be sent the information about the home and homeowners in order to contact them further.</p>
          {{/COLUMN}}
          {{/MULTICOLUMN}}
        </div>
        {{PANELCONTROLS}}
      </div>
      <div class="slide-panel center-panel active">
        {{#SPLIT}}
        <div class="left-split-pane split-pane">
          <h1 class="center">Find More Clients</h1>
          <div class="center subheading-and-button">
            <p class="subheading">Find clients without the need for mailers or gimmicks</p>
            <a class="cta-btn blue" href="http://teereal.com/realtor">Go!</a>
          </div>
        </div>
        <div class="right-split-pane split-pane">
          <h1 class="center">Find Better Realtors</h1>
          <div class="center subheading-and-button">
            <p class="subheading">Find a relator at the commision that you want, who is confident in selling in your area of the world.</p>
            <a class="cta-btn green" href="http://teereal.com/homeowner">Go!</a>
          </div>
        </div>
        {{/SPLIT}}
        {{PANELCONTROLS}}
      </div>
      <div class="slide-panel right-panel">
        {{PANELCONTROLS}}
      </div>
    </div>
  </div>
  <div class="divider">
  </div>
  <div class="value-grid">
    <div class="value-grid-container clear-fix">
      <h2 class="center">Find Houses to Sell Now</h2>
      <p class="center">You bid on a house and we'll do the rest. No more cold calls. Only actual leads.</p>
      {{#MULTICOLUMN num=4}}
      {{#COLUMN i=1}}
      <div class="tile row1">
        {{IMAGELINK cls="tile-img"}}
        {{BUTTON text="Dallas, TX" cls="btn-small"}}
      </div>
      <div class="tile row2">
        {{IMAGELINK cls="tile-img"}}
        {{BUTTON text="Boulder, CO" cls="btn-small"}}
      </div>
      {{/COLUMN}}
      {{#COLUMN i=2}}
      <div class="tile row1">
        {{IMAGELINK cls="tile-img"}}
        {{BUTTON text="San Fransico, CA" cls="btn-small"}}
      </div>
      <div class="tile row2">
        {{IMAGELINK cls="tile-img"}}
        {{BUTTON text="Chicago, IL" cls="btn-small"}}
      </div>
      {{/COLUMN}}
      {{#COLUMN i=3}}
      <div class="tile row1">
        {{IMAGELINK cls="tile-img"}}
        {{BUTTON text="Boston, MA" cls="btn-small"}}
      </div>
      <div class="tile row2">
        {{IMAGELINK cls="tile-img"}}
        {{BUTTON text="Boston, MA" cls="btn-small"}}
      </div>
      {{/COLUMN}}
      {{#COLUMN i=4}}
      <div class="tile row1">
        {{IMAGELINK cls="tile-img"}}
        {{BUTTON text="Denver, CO" cls="btn-small"}}
      </div>
      <div class="tile row2">
        {{IMAGELINK cls="tile-img"}}
        {{BUTTON text="Des Moisnes, IA" cls="btn-small"}}
      </div>
      {{/COLUMN}}
      {{/MULTICOLUMN}}
    </div>
  </div>
  <div class="catch-you-later-panel">
    {{#SPLIT}}
    <div class="left-split-pane split-pane">
      <h2 class="center">Don't see any houses that peak your interest?</h1>
      <div class="center subheading-and-button">
        <p class="subheading">Let us know the area that you're interested in and our marketing department will target homeowners in those areas next.</p>
        <a class="cta-btn black" href="http://teereal.com/newareas">Tell Us!</a>
      </div>
    </div>
    <div class="right-split-pane split-pane">
      <h2 class="center">Not Ready to Sell Right Now?</h1>
      <div class="center subheading-and-button">
        <p class="subheading">Set a reminder and we'll send you an email when you're ready to sell.</p>
        <a class="cta-btn black" href="http://teereal.com/sellreminder">Add a Reminder</a>
      </div>
    </div>
    {{/SPLIT}}    
  </div>
  <div class="why-us-panel">
    <h2 class="center">Why use TeeReal?</h2>
    <p class="center">Whether you're a homeowner or realtor, TeeReal has you covered.</p>
  </div>
  <div class="faq-panel">
    <h2 class="center">Get Answers</h2>
    <p class="center">Learn how to let realtors bid on representing you, how realtors bid on your house, and other FAQs.</p>
  </div>
</div>
</div>
